.idea
build
.gradle
local.properties
.DS_Store
*.iml
/local.properties
.DS_Store
/captures
.externalNativeBuild
/iOSApp/DerivedData

/iOSApp/*.xcodeproj/*
/iOSApp/!*.xcodeproj/project.pbxproj
/iOSApp/!*.xcodeproj/xcshareddata/
/iOSApp/!*.xcworkspace/contents.xcworkspacedata